In [ ]:
2016 - Sesiune Vara

In [ ]:
Subiectul 1

In [ ]:
1. d
2.  a) 14 28
    b)  Un set de valori care se poate atribui  pentru variabilele m,n si x sunt m=11 n=11 x=11, pentru ca in final sa se afiseze doua numere egale

In [ ]:
//c) 
citeste m,n,x
	(numere naturale nenule,m<n)
p=0;
daca m<n si p=0 atunci{
    repeta{
        daca m%x=0 si n%x=0 atunci{
            p=x
            altfel
                daca m%x=0 atunci{
                    n=n-1
                altfel
                    m=m+1;
                }
        }
    }pana cand m>=n si p!=0
}
scrie m,' ',n

In [ ]:
//d)
#include <iostream>
using namespace std;
int main()
{	int m, n, x, p;
	cin >> m >> n >> x;
	p = 0;
	while(m < n && p == 0) {
		if(m % x == 0 && n % x == 0)
			p = x;
		else if(m % x == 0)
			n = n - 1;
		else
			m = m + 1;
	}
	cout << m << " " << n;
	return 0;
}

In [ ]:
Subiectul 2

In [ ]:
Subiectul 3